fastapi
uvicorn[standard]
python-jose[cryptography]
python-multipart
langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-chroma
langchain-mistralai
chromadb
pymupdf
python-dotenv
jinja2
gunicorn
ddgs>=9.9,<10
